{% extends 'generic/base.html' %}

{% block content %}
<h1>Welcome to the home page!</h1>
<h2>About This Page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione quasi recusandae id. Libero perferendis dicta rem at recusandae facere sequi aspernatur labore nobis alias amet autem, nam aliquid corporis veritatis?</p>
<h2> Story, Mision, Vision</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta quos culpa itaque maxime nisi odio earum nam, ut excepturi, inventore suscipit omnis ab tempora. Aliquid quos voluptatem voluptates! Aspernatur, est.</p>

{% endblock %}
